@model Handcraft.Models.ClassViewModel
@section MoreCss
{
    @Styles.Render("~/Content/StyleLiberty")
    @Styles.Render("~/Content/FontAwesome")
    @Styles.Render("~/Content/StyleClass")
}
@section LibraryScripts
{
    @Scripts.Render("~/bundles/minicart")
    @Scripts.Render("~/bundles/jquery-ui")
}

@section CustomScripts
{
    @*<script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>*@
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-149859901-1');
    </script>

    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'urlChangeTracker');
        ga('send', 'pageview');
    </script>
    @*<script async src='~/js/autotrack.js'></script>*@

    <meta name="robots" content="noindex">

    <!--/login-->
    <script>
        $(document).ready(function () {
            $(".button-log a").click(function () {
                $(".overlay-login").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });
        });
        $('.overlay-close1').on('click', function () {
            $(".overlay-login").fadeToggle(200);
            $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
            open = false;
        });
    </script>
    <!--//login-->
    <script>
        // optional
        $('#customerhnyCarousel').carousel({
            interval: 5000
        });
    </script>
    <!-- cart-js -->
    <script>
        transmitv.render();

        transmitv.cart.on('transmitv_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->
    <!-- disable body scroll which navbar is in active -->

    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
}

<!-- New toolbar-->


<section class="w3l-banner-slider-main inner-pagehny">
    <div class="breadcrumb-infhny">
        <div class="top-header-content">
            @{
                Html.RenderPartial("~/Views/Shared/_header.cshtml");
            }
            <div class="breadcrumb-contentnhy">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <h2 class="hny-title text-center">Discover Our Classes</h2>
                        <ol class="breadcrumb mb-0">
                            <li>
                                <a href="index.html">Home</a>
                                <span class="fa fa-angle-double-right"></span>
                            </li>
                            <li class="active">Our Classes</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-ecommerce-main-inn">
    <!--/mag-content-->
    <div class="ecomrhny-content-inf py-5">
        <div class="container py-lg-5">
            <div style="margin: 8px auto; display: block; text-align:center;">

                <!---728x90--->


            </div>
            <!--/row1-->
            <div class="ecommerce-grids row">
                <div class="ecommerce-left-hny col-lg-4">
                    <!--/ecommerce-left-hny-->
                    <aside>
                        <div class="sider-bar">
                            <div class="single-gd mb-5">
                                <h4>Search <span>here</span></h4>
                                <form action="/Home/Class" method="get" class="search-trans-form">
                                    <input class="form-control" id="SearchString" name="SearchString" type="text" placeholder="Search Class Name..." required="">
                                     <button type="submit" class="btn read-2"><span class="fa fa-search"></span></button>
                                </form>

                            </div>
                            <!-- /Gallery-imgs -->
                            <div class="single-gd mb-5">
                                <h4>Class <span>Categories</span></h4>
                                <ul class="list-group single">
                                    @foreach (Handcraft.Models.CategoryModel item in Model.Category)
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="@Url.Action("Class", "Home", new { category = item.Name })">
                                                @item.Name
                                            </a>
                                            <span class="badge badge-primary badge-pill">@item.Count</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <!--//ecommerce-left-hny-->
                </div>
                <div class="ecommerce-right-hny col-lg-8">
                    <div class="row ecomhny-topbar">
                        <div class="col-8 ecomhny-result">
                            <a href="/Home/Class" class="ecomhny-result-count btn btn-warning"> Show all Classes</a>
                            <br />
                            <br />
                            <h4 class="ecomhny-result-count"> There are @Model.MaxClass Results</h4>
                        </div>
                        <div class="col-4 ecomhny-topbar-ordering">
                            <strong>SORT BY:</strong>
                            <div class="ecom-ordering-select d-flex">

                                <form action="/Home/Class" method="get">
                                    @if (String.IsNullOrEmpty(ViewBag.DateSort))
                                    {
                                        @:<a href="@Url.Action("Class", "Home", new { sortOrder = "" })"><strong>&nbsp;&nbsp;<i class="fas fa-angle-down"></i>  Date: </strong> closest to farthest</a>
                                    }
                                    else if (ViewBag.DateSort == "date_desc")
                                    {
                                        @:<a href="@Url.Action("Class", "Home", new { sortOrder = "date_desc" })"><strong>&nbsp;&nbsp;<i class="fas fa-angle-down"></i>  Date: </strong> farthest to closest</a>
                                    }
                                </form>

                            </div>
                            <div class="ecom-ordering-select d-flex">

                                <form action="/Home/Class" method="get">

                                    @if (ViewBag.PriceSort == "price_asc")
                                    {
                                        @:<a href="@Url.Action("Class", "Home", new { sortOrder = "price_asc" })"><strong>&nbsp;&nbsp;<i class="fas fa-angle-down"></i> Price:</strong> low to high</a>
                                    }
                                    else if (ViewBag.PriceSort == "price_desc")
                                    {
                                        @:<a href="@Url.Action("Class", "Home", new { sortOrder = "price_desc" })"><strong>&nbsp;&nbsp;<i class="fas fa-angle-down"></i> Price:</strong> high to low</a>
                                    }
                                </form>
                            </div>
                        </div>

                    </div>

                    <!--Example from Netflax-->
                    @*Filter By :@Html.ActionLink("Movie Title", "Reviews", new { sortOrder = ViewBag.NameSortParm }) @Html.ActionLink("Release Date", "Reviews", new { sortOrder = ViewBag.DateSortParm })
        <a href="@Url.Action("Class", "Home", new { sortOrder = ViewBag.DateSort })">Movie Title</a>
        <a href="@Url.Action("Class", "Home", new { sortOrder = ViewBag.PriceSort })">Release Date</a>*@
                    <!-- /Example from Netflax-->
                    <!-- /row-->
                    <div class="ecom-products-grids row">
                        @foreach (Handcraft.Models.ClassModel item in Model.Classes)
                        {
                            <div class="col-lg-4 col-6 product-incfhny mb-4">                                
                                @{ 
                                    Html.RenderPartial("~/Views/Shared/_ClassCard.cshtml", item);
                                }
                            </div>

                        }

                    </div>
                    <!-- //row-->
                </div>
            </div>
            <!--//row1-->
            <!--/pagination-->
            @{
                Html.RenderPartial("~/Views/Shared/_pagination.cshtml", new ViewDataDictionary { { "MaxPage", Model.MaxPage } });
            }
            <!--//pagination-->

        </div>
    </div>
    <!--//mag-content-->
</section>
<div style="margin: 8px auto; display: block; text-align:center;">

    <!---728x90--->

</div>






