@model Handcraft.Models.ContactModel
@section LibraryScripts
{
    @Scripts.Render("~/bundles/minicart")
}

@section CustomScripts
{
    <!--/login-->
    <script>
        $(document).ready(function () {
            $(".button-log a").click(function () {
                $(".overlay-login").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });
        });
        $('.overlay-close1').on('click', function () {
            $(".overlay-login").fadeToggle(200);
            $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
            open = false;
        });
    </script>
    <!--//login-->
    <script>
        // optional
        $('#customerhnyCarousel').carousel({
            interval: 5000
        });
    </script>
    <!-- cart-js -->
    <script>
        transmitv.render();

        transmitv.cart.on('transmitv_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- disable body scroll which navbar is in active -->

    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
}

<section class="w3l-banner-slider-main inner-pagehny">
    <div class="breadcrumb-infhny">

        <div class="top-header-content">
            @{
                Html.RenderPartial("~/Views/Shared/_header.cshtml");
            }
            <div class="breadcrumb-contentnhy">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <h2 class="hny-title text-center">Contact Us</h2>
                        <ol class="breadcrumb mb-0">
                            <li>
                                <a href="index.html">Home</a>
                                <span class="fa fa-angle-double-right"></span>
                            </li>
                            <li class="active">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
</section>
<!-- contacts -->
<section class="w3l-contacts-8">
    <div class="contacts-9 section-gap py-5">
        <div class="container py-lg-5">
            <div class="row top-map">
                <div class="col-lg-6 partners">
                    <div class="cont-details">
                        <h3 class="hny-title mb-0">
                            Get in <span>touch</span></h5>
                            <p class="mb-5">Let's join with us to enjoy your craft journey.</p>
                            <p class="margin-top">
                                <span class="texthny">Call Us : </span> <a href="tel:+(32) 255 999 8899">
                                    +(32)
                                    255 999 8899
                                </a>
                            </p>
                            <p>
                                <span class="texthny">Email : </span> <a href="mailto:info@example.com">
                                    info@example.com
                                </a>
                            </p>
                            <p class="margin-top">
                                10 Avenue de ABC, Uccle 1180, Brussels, Belgium
                            </p>
                    </div>
                    <div class="hours">
                        <h3 class="hny-title">
                            Working <span>Hours</span></h5>
                            <h6>Business Service:</h6>
                            <p> Monday to Friday 8.00 am - 6.00 pm</p>
                            <p> Saturday and Sunday - Closed</p>
                            <h6 class="margin-top">Customer support:</h6>
                            <p> Monday to Friday 8.00 am - 6.00 pm</p>
                            <p> Saturday 10.00 am - 4.00 pm</p>
                            <p> Sunday - Closed</p>
                    </div>
                </div>
                <div class="col-lg-6 map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2521.5523718999584!2d4.321834915563311!3d50.802403779525484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c5ca28ef3d0d%3A0xe09286736d33dfd4!2sUccle-%20%2F%20Ukkel-Stalle!5e0!3m2!1sen!2sbe!4v1614239520240!5m2!1sen!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="map-content-9 form-bg-img">
        <div class="layer section-gap py-5">
            <div class="container py-lg-5">
                <div class="form">
                    <h3 class="hny-title two text-center">Fill out the form.</h3>
                    <form class="mt-md-5 mt-4" method="post">
                        @Html.AntiForgeryToken()
                        <div class="input-grids">
                            <input type="text" name="Name" id="w3lName" placeholder="Name" required />
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            <input type="email" name="Email" id="w3lSender" placeholder="Email" required />
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <input type="text" name="Subject" id="w3lSubject" placeholder="Subject" required />
                            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-textarea">
                            <textarea name="MessageContent" id="w3lMessage" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn">Send</button>
                        @if (ViewBag.SuccessMessage != null)
                        {
                            @:<div class="alert alert-success">@ViewBag.SuccessMessage</div>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            @:<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

