@model Handcraft.Models.HomeViewModel
@section LibraryScripts
{
    @Scripts.Render("~/bundles/minicart")
    @Scripts.Render("~/bundles/manificpopup")
}

@section CustomScripts
{
    <!--/login-->
    <script>
        $(document).ready(function () {
            $(".button-log a").click(function () {
                $(".overlay-login").fadeToggle(200);
                $(this).toggleClass('btn-open').toggleClass('btn-close');
            });
        });
        $('.overlay-close1').on('click', function () {
            $(".overlay-login").fadeToggle(200);
            $(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
            open = false;
        });
    </script>
    <!--//login-->
    <script>
        // optional
        $('#customerhnyCarousel').carousel({
            interval: 5000
        });
    </script>
    <!-- cart-js -->
    <script>
        transmitv.render();

        transmitv.cart.on('transmitv_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!--//search-bar-->
    <!-- disable body scroll which navbar is in active -->

    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->

}
@section MoreCss
{
    <style>
        .w3l-banner-slider-main .carousel-item {
            background: url(../images/banner/@Model.Slider[0].Picture ) no-repeat center;
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            -moz-background-size: cover;
        }
        .w3l-banner-slider-main .carousel-item.item2 {
              background: url(../images/banner/@Model.Slider[1].Picture) no-repeat center;
              background-size: cover;
              -webkit-background-size: cover;
              -o-background-size: cover;
              -ms-background-size: cover;
              -moz-background-size: cover;
        }
        .w3l-banner-slider-main .carousel-item.item3 {
              background: url(../images/banner/@Model.Slider[2].Picture) no-repeat center;
              background-size: cover;
              -webkit-background-size: cover;
              -o-background-size: cover;
              -ms-background-size: cover;
              -moz-background-size: cover;
        }
        .w3l-banner-slider-main .carousel-item.item4 {
              background: url(../images/banner/@Model.Slider[3].Picture) no-repeat center;
              background-size: cover;
              -webkit-background-size: cover;
              -o-background-size: cover;
              -ms-background-size: cover;
              -moz-background-size: cover;
        }
        .w3l-banner-slider-main .right-banner {
            background: url(../images/left3.jpg) no-repeat center;
            background-size: cover;
            display: grid;
            align-items: center;
            /* min-height: 100%; */
            min-height: 46em;
        }
    </style>
}

<!--w3l-banner-slider-main-->
<section class="w3l-banner-slider-main">
    <div class="top-header-content">        
        @{
            Html.RenderPartial("~/Views/Shared/_header.cshtml");
        }


        <div class="bannerhny-content">

            <!--/banner-slider-->
            <div class="content-baner-inf">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h3>
                                        Everyone is creative,
                                        <br>including you
                                    </h3>
                                    <a href="#" class="shop-button btn">
                                        Join With Us!
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item item2">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h3>
                                        No mistakes,
                                        <br>Just unique creations
                                    </h3>
                                    <a href="#" class="shop-button btn">
                                        Join With Us!
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item item3">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h3>
                                        Build things,
                                        <br>that make life beautiful
                                    </h3>
                                    <a href="#" class="shop-button btn">
                                        Join With Us!
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item item4">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h3>
                                        Dream your craft,
                                        <br>then craft your dream
                                    </h3>
                                    <a href="#" class="shop-button btn">
                                        Join With Us!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!--//banner-slider-->
            <!--//banner-slider-->
            <div class="right-banner">
                <div class="right-1">
                    <h4>
                        Go a head,
                        <br>Make a mess
                    </h4>
                </div>
            </div>

        </div>

</section>
<!-- //w3l-banner-slider-main -->
<section class="w3l-grids-hny-2">
    <!-- /content-6-section -->
    <div class="grids-hny-2-mian py-5">
        <div class="container py-lg-5">

            <h3 class="hny-title mb-0 text-center">Explore Our Class <span>collections</span></h3>
            <p class="mb-4 text-center">Handpicked Favourites just for you</p>
            <div class="welcome-grids row mt-5">
                @foreach (Handcraft.Models.CategoryModel item in Model.Category)
                {
                    <div class="col-lg-2 col-md-4 col-6 welcome-image">
                        <div class="boxhny13">
                            <a href="@item.Link">
                                <img src="@item.Picture" class="img-fluid" alt="" />
                                <div class="boxhny-content">
                                    <h3 class="title">See More
                                </div>
                            </a>
                        </div>
                        <h4><a href="@item.Link">@item.Name</a></h4>

                    </div>
                }

            </div>

        </div>
    </div>
</section>
<!-- //content-6-section -->

<section class="w3l-video-6">
    <!-- /video-6-->
    <div class="video-66-info">
        <div class="container-fluid">
            <div class="video-grids-info row">
                <div class="video-gd-right col-lg-8">
                    <div class="video-inner text-center">
                        <!--popup-->
                        <a class="play-button btn popup-with-zoom-anim" href="#small-dialog">
                            <span class="fa fa-play" aria-hidden="true"></span>
                        </a>
                        <div id="small-dialog" class="mfp-hide">
                            <div class="search-top notify-popup">
                                <iframe width="560" height="315" src="@Model.NewClass.TrailerURL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                        <!--//popup-->
                    </div>
                </div>
                <div class="video-gd-left col-lg-4 p-lg-5 p-4">
                    <div class="p-xl-4 p-0 video-wrap">
                        <h3 class="hny-title text-left">
                            Discover our <span>new workshop</span>
                        </h3>
                        <p>Visit our studio to enjoy your craft journey.</p>
                        <a href="#" class="read-more btn">
                            See more
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- //video-6-->
<section class="w3l-ecommerce-main">
    <!-- /products-->
    <div class="ecom-contenthny py-5">
        <div class="container py-lg-5">
            <h3 class="hny-title mb-0 text-center">Let's craft With <span>Us</span></h3>
            <p class="text-center">Handpicked Favourites just for you</p>
            <!-- /row-->
            <div class="ecom-products-grids row mt-lg-5 mt-3">
                @foreach (Handcraft.Models.ClassModel item in Model.Classes)
                {
                    <div class="col-lg-3 col-6 product-incfhny mt-4">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1 img-fluid" src="/images/@item.ThumbnailFront">
                                    <img class="pic-2 img-fluid" src="/images/@item.ThumbnailBack">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>

                                    <li>
                                        <a href="#" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                    </li>
                                </ul>
                                <div class="transmitv single-item">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
                                        <input type="hidden" name="amount" value="599.99">
                                        <button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
                                            Add to Cart
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">@item.ClassName</a></h3>
                                <span class="price">@item.Price €</span>
                            </div>
                        </div>
                    </div>
                }                

            </div>
            <!-- //row-->
        </div>
    </div>
</section>

<section class="w3l-customers-sec-6">
    <div class="customers-sec-6-cintent py-5">
        <!-- /customers-->
        <div class="container py-lg-5">
            <h3 class="hny-title text-center mb-0 ">Students <span>Love</span></h3>
            <p class="mb-5 text-center">What People Say</p>
            <div class="row customerhny my-lg-5 my-4">
                <div class="col-md-12">
                    <div id="customerhnyCarousel" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#customerhnyCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#customerhnyCarousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="customer-info text-center">
                                            <div class="feedback-hny">
                                                <span class="fa fa-quote-left"></span>
                                                <p class="feedback-para">
                                                    Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                    quas nihil quasis.
                                                </p>
                                            </div>
                                            <div class="feedback-review mt-4">
                                                <img src="/images/c1.jpg" class="img-fluid" alt="">
                                                <h5>Smith Roy</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="customer-info text-center">
                                            <div class="feedback-hny">
                                                <span class="fa fa-quote-left"></span>
                                                <p class="feedback-para">
                                                    Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                    quas nihil quasis.
                                                </p>
                                            </div>
                                            <div class="feedback-review mt-4">
                                                <img src="/images/c2.jpg" class="img-fluid" alt="">
                                                <h5>Lora Grill</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="customer-info text-center">
                                            <div class="feedback-hny">
                                                <span class="fa fa-quote-left"></span>
                                                <p class="feedback-para">
                                                    Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                    quas nihil quasis.
                                                </p>
                                            </div>
                                            <div class="feedback-review mt-4">
                                                <img src="/images/c3.jpg" class="img-fluid" alt="">
                                                <h5>Laura Sten</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="customer-info text-center">
                                            <div class="feedback-hny">
                                                <span class="fa fa-quote-left"></span>
                                                <p class="feedback-para">
                                                    Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                    quas nihil quasis.
                                                </p>
                                            </div>
                                            <div class="feedback-review mt-4">
                                                <img src="/images/c4.jpg" class="img-fluid" alt="">
                                                <h5>John Lee</h5>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="customer-info text-center">
                                            <div class="feedback-hny">
                                                <span class="fa fa-quote-left"></span>
                                                <p class="feedback-para">
                                                    Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                    quas nihil quasis.
                                                </p>
                                            </div>
                                            <div class="feedback-review mt-4">
                                                <img src="/images/c4.jpg" class="img-fluid" alt="">
                                                <h5>John Lee</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="customer-info text-center">
                                            <div class="feedback-hny">
                                                <span class="fa fa-quote-left"></span>
                                                <p class="feedback-para">
                                                    Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                    quas nihil quasis.
                                                </p>
                                            </div>
                                            <div class="feedback-review mt-4">
                                                <img src="/images/c3.jpg" class="img-fluid" alt="">
                                                <h5>Laura Sten</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="customer-info text-center">
                                            <div class="feedback-hny">
                                                <span class="fa fa-quote-left"></span>
                                                <p class="feedback-para">
                                                    Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                    quas nihil quasis.
                                                </p>
                                            </div>
                                            <div class="feedback-review mt-4">
                                                <img src="/images/c1.jpg" class="img-fluid" alt="">
                                                <h5>Smith Roy</h5>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="customer-info text-center">
                                            <div class="feedback-hny">
                                                <span class="fa fa-quote-left"></span>
                                                <p class="feedback-para">
                                                    Lorem, ipsum dolor sit amet consectetur
                                                    adipisicing elit. Labore rem, dicta assumenda mollitia molestias
                                                    quas nihil quasis.
                                                </p>
                                            </div>
                                            <div class="feedback-review mt-4">
                                                <img src="/images/c2.jpg" class="img-fluid" alt="">
                                                <h5>Lora Grill</h5>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                    </div>
                    <!--.Carousel-->

                </div>
            </div>
        </div>
    </div>
</section>

<!-- //customers-->
<section class="w3l-subscription-6">
    <!--/customers -->
    <div class="subscription-infhny">
        <div class="container-fluid">

            <div class="subscription-grids row">

                <div class="subscription-right form-right-inf col-lg-6 p-md-5 p-4">
                    <div class="p-lg-5 py-md-0 py-3">
                        <h3 class="hny-title">Join us for FREE to get instant <span>email updates!</span></h3>
                        <p>Subscribe and get notified at first on the latest update and offers!</p>

                        <form action="#" method="post" class="signin-form mt-lg-5 mt-4">
                            <div class="forms-gds">
                                <div class="form-input">
                                    <input type="email" name="" placeholder="Your email here" required="">
                                </div>
                                <div class="form-input"><button class="btn">Join</button></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="subscription-left forms-25-info col-lg-6 ">

                </div>
            </div>

            <!--//customers -->
        </div>
</section>
<!-- //customers-6-->