@model Handcraft.Models.UserModel
@section MoreCss
{
    @Styles.Render("~/Content/css")
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ProfilePicture = "";
    if (Model.Picture == null || Model.Picture == "")
    {
        ProfilePicture = "https://www.pngitem.com/pimgs/m/146-1468843_profile-icon-orange-png-transparent-png.png";
    }
    else
    {
        ProfilePicture = "/images/Users/" + Model.IdUser + "/" + Model.Picture;
    }
}

<section class="w3l-banner-slider-main inner-pagehny">
    <div class="breadcrumb-infhny">

        <div class="top-header-content">

            @{
                Html.RenderPartial("~/Views/Shared/_header.cshtml");
            }
            <div class="breadcrumb-contentnhy">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <h2 class="hny-title text-center">Hello @Model.FirstName</h2>
                        <ol class="breadcrumb mb-0">
                            <li>
                                <a href="index.html">Member</a>
                                <span class="fa fa-angle-double-right"></span>
                            </li>
                            <li class="active">Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="@ProfilePicture" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @Model.FirstName @Model.LastName
                    </h5>
                    <h6>
                        Student
                    </h6>
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Activities</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <br />
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                <a href="~/Member/Home/Logout" class="profile-edit-btn btn btn-warning">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>FAVORITE CLASSES</p>
                    <a href="">Paper Flower</a><br />
                    <a href="">Knitting</a><br />
                    <a href="">Watercoler Painting</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.FirstName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.LastName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Email</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Login Username</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Login</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Phone</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p>10$/hr</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <p>230</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 months</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br />
                                <p>Your detail description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

